/* -------------------------------------- *
General Styles
* --------------------------------------- */
body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
}
header {
  background-image: url(../images/banner/fleurs.jpg);
  background-position: center center; 
}
h1 {
  font-size: 60px;
  color:black;
  font-family: 'Staatliches', Impact, sans-serif;
}
h2,
h3 {
  font-size: 42px;
  font-family: 'Staatliches', Impact, sans-serif;

}
main, 
header h1,
nav div {
  width: 85%;
  margin: auto;
}
header {
  padding: 90px 0;
}
nav a {
  padding-right: 20px;
}
nav a:hover {
  color:red;
}
nav {
  color:#fff;
  background-color: #333333;
  padding: 12px;
}

.endpage {
  width: 1000px;
}

.two-col {
  display: flex;
}

