  
head{
  margin: o;
}
body {
    margin: 0;
  }
  
  h1 {
    font-family: sans-serif;
    font-size: 92px;
    color: orange;
  }

  .home {
    width: 100vw;
    height: 100vh;
    background-image: url(../images/misc/titlepage.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .links {
    display: flex;
    justify-content: center;
    align-items:space-between;
    background-color: black;
    padding: 1em;
  }
  /**^area behind links^**/

  a {
    color: orange;
    font-family: sans-serif;
    font-size: 26px;
  }
  /**^area in front of links**/

  #aquatic {
    width: 100vw;
    height: 100vh;
    background-image: url(../images/lifeaquatic/the-life-aquatic-title-card.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
    display: flex;
    }
  #fox {
    width: 100vw;
    height: 100vh;
    background-image: url(../images/fantasticmr/opening-credits.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex; 
    flex-direction: column;
  }

  .fox a {
    width: 100vw;
    background: red;
    padding: 1.5rem;
  }
  #darjeeling {
    width: 100vw;
    height: 100vh;
    background-image: url(../images/darjeelinglimited/opening-credits.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
  }
  #grand {
    width: 100vw;
    height: 100vh;
    background-image: url(../images/misc/opening-credits.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
  }
/**cover pages**/

  /**cast begin**/
  .aquatic-cast {
    width: 100vw;
    height: 100vh;
    background-color: teal;
    background-size: cover;
    padding-bottom: 8em;
    display: flex;
    flex-direction: column-reverse;
  }

  .aquatic-cast section {
    background: black;
  }
  
  .aquatic-cast ul {
    list-style-type: none;
    overflow-y: auto;
    overflow-x: auto;
    display: flex;
    scrollbar-width: none;
  }

  .aquatic-cast :hover {
    background: rgba(250, 250, 250, 1);
    background-color: rgba(250, 250, 250, .8);
    transform: translateX(3px);
  }

  .aquatic-cast li {
    text-align: center;
    margin: 0 40px;
    display: inline-block;
  }

  .aquatic-cast li :hover {
    transform: rotate(45deg);
  }
  .aquatic-cast img {
    border-radius: 50%;
  }
  
  .fox-cast {
    width: 100vw;
    height: 100vh;
    background-color: chocolate;
    background-size: cover;
    padding-bottom: 8em;
    display: flex;
    flex-direction: column-reverse;
  }

  .fox-cast section {
    background: black;
  }
  
  .fox-cast ul {
    list-style-type: none;
    overflow-y: auto;
    overflow-x: auto;
    display: flex;
    scrollbar-width: none;
  }

  .fox-cast :hover {
    background: rgba(250, 250, 250, 1);
    background-color: rgba(250, 250, 250, .8);
    transform: translateX(3px);
  }

  .fox-cast li {
    text-align: center;
    margin: 0 40px;
    display: inline-block;
  }

  .fox-cast li :hover {
    transform: rotate(45deg);
  }
  .fox-cast img {
    border-radius: 50%;
  }

  .limited-cast {
    width: 100vw;
    height: 100vh;
    background-color: green;
    background-size: cover;
    padding-bottom: 8em;
    display: flex;
    flex-direction: column-reverse;
  }

  .limited-cast section {
    background: black;
  }
  
  .limited-cast ul {
    list-style-type: none;
    overflow-y: auto;
    overflow-x: auto;
    display: flex;
    scrollbar-width: none;
  }

  .limited-cast :hover {
    background: rgba(250, 250, 250, 1);
    background-color: rgba(250, 250, 250, .8);
    transform: translateX(3px);
  }

  .limited-cast li {
    text-align: center;
    margin: 0 40px;
    display: inline-block;
  }

  .limited-cast li :hover {
    transform: rotate(45deg);
  }
  .limited-cast img {
    border-radius: 50%;
  }

  .grand-cast {
    width: 100vw;
    height: 100vh;
    background-color: pink;
    background-size: cover;
    padding-bottom: 8em;
    display: flex;
    flex-direction: column-reverse;
  }

  .grand-cast section {
    background: black;
  }
  
  .grand-cast ul {
    list-style-type: none;
    overflow-y: auto;
    overflow-x: auto;
    display: flex;
    scrollbar-width: none;
  }

  .grand-cast :hover {
    background: rgba(250, 250, 250, 1);
    background-color: rgba(250, 250, 250, .8);
    transform: translateX(3px);
  }

  .grand-cast li {
    text-align: center;
    margin: 0 40px;
    display: inline-block;
  }

  .grand-cast li :hover {
    transform: rotate(45deg);
  }
  .grand-cast img {
    border-radius: 50%;
  }

  /**cast section end**/

  .aquatic-about {
    display: flex;
    width: 100vw;
    height: 100vh;
    background-image: url(../images/lifeaquatic/bigpanoramicpic.jpeg);
    background-size: cover;
    flex-direction: column-reverse;
    color: orange;
    font-family: sans-serif;
    font-size: 48px;
  }

  .aquatic-about section {
    height: 30vh;
  }

  .aquatic-about section p {
    padding: 3em;
  }

  .fox-about {
    display: flex;
    width: 100vw;
    height: 100vh;
    background-image: url(../images/fantasticmr/onthehill.jpg);
    background-size: cover;
    flex-direction: column-reverse;
    color: orange;
    font-family: sans-serif;
    font-size: 48px;
  }

  .fox-about section {
    height: 30vh;
  }

  .fox-about section p {
    padding: 3em;
  }

  .limited-about {
    display: flex;
    width: 100vw;
    height: 100vh;
    background-image: url(../images/darjeelinglimited/bunk\ beds.jpg);
    background-size: cover;
    flex-direction: column-reverse;
    color: orange;
    font-family: sans-serif;
    font-size: 48px;
  }

  .limited-about section {
    height: 30vh;
  }

  .limited-about section p {
    padding: 3em;
  }

  .grand-about {
    display: flex;
    width: 100vw;
    height: 100vh;
    background-image: url(../images/grandbudapest/honeypot.jpg);
    background-size: cover;
    flex-direction: column-reverse;
    color: orange;
    font-family: sans-serif;
    font-size: 48px;
  }

  .grand-about section {
    height: 30vh;
  }

  .grand-about section p {
    padding: 3em;
  }
/** sample code
#pond{
  display:flex;
  flex-direciton: row-reverse;
  justify-content: center;
  align-items:flex-end;
  }
  **/
  .fox-footer {
    display: flex;
    width: 100vw;
    height: 100vh;
    background-image: url(../images/fantasticmr/motorcycle.jpg);
    background-size: cover;
    flex-direction: column-reverse;
  }

  .limited-footer {
    display: flex;
    width: 100vw;
    height: 100vh;
    background-image: url(../images/darjeelinglimited/the-darjeeling-limited-still.jpg);
    background-size: cover;
    flex-direction: column-reverse;
  }

  .aquatic-footer {
    display:flex;
    width: 100vw;
    height:100vh;
    background-image: url(../images/lifeaquatic/jeffgoldblum.jpg);
    background-size:cover;
    background-size: cover;
    flex-direction: column-reverse;
    }

  .grand-footer {
    display: flex;
    width: 100vw;
    height: 100vh;
    background-image: url(../images/grandbudapest/cute.jpg);
    background-size: cover;
    flex-direction: column-reverse;
  }  

  .about section {
     height: 30vh;
  }
  /**helps with weird margins that apppear in about section**/

  .about section p {
     padding: 2em;
  }
  /**also helps with weird margins that apppear in about section**/

