@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;700&display=swap");
body {
  margin: 0;
  display: flex;
  flex-direction: column;
  background-color: #fff3dd;
}

header {
  padding: 5em;
  border-bottom: 5px #914712 solid;
  font-family: "Raleway", sans-serif;
  font-weight: medium;
}

nav div {
  width: 85%;
  /* margin: auto; */
  font-family: "Raleway", sans-serif;
  font-weight: bold;
}

nav a {
  padding-right: 20px;
}

nav a:hover {
  color: #f39f92;
}

nav {
  color: #914712;
  padding: 12px;
}

#logo {
  text-align: left;
}

#logo img {
  margin: 6px 0 10px 0;
  width: 50%;
  height: auto;
}

.landing {
  padding-top: 5em;
  position: relative;
}

.landing img {
  display: block;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  width: 75%;
  height: auto;
}

#landing-about {
  display: block;
  flex-direction: column;
  margin: auto;
  text-align: left;
  font-family: "Raleway", sans-serif;
  font-weight: medium;
  font-size: 30px;
}
/* start of accordion */
.button {
  padding: 8px;
  width: 25%;
  background-color: #914712;
  color: white;
  font-family: "Raleway", sans-serif;
  font-weight: bolder;
  text-align: center;
  padding: 10px 15px;
  border-radius: 12px;
  margin: auto;
}

.product-image-container img {
  height: 70vh;
  width: auto;
  margin-left: auto;
  margin-right: auto;
}

#lavender {
  color: blue;
  text-align: center;
}

h2{
  font-family: "Raleway", sans-serif;
}

h1 {
  font-family: "Raleway", sans-serif;
}

#honey {
  color: #efbc4d;
  text-align: center;
}

#cardomom {
  color: #dd5a44;
  text-align: center;
}

.product-info {
  text-align: left;
}

#horizontalAccordion {
  padding: 0;
  margin: 0;
  width: 90vw;
  margin: 10px auto;
}
#horizontalAccordion > li {
  display: inline-block;
  vertical-align: top;
  margin: 0;
}
#horizontalAccordion > li:nth-child(odd) {
  width: 2%;
  height: 600px;
  overflow: hidden;
}
#horizontalAccordion > li:nth-child(even) h1 {
  transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  -webkit-transform: rotate(270deg);
  margin: 85px -85px;
}
#horizontalAccordion > li:nth-child(even) {
  height: 600px; /* actually the height */
  width: 4%; /* actually the width */
}

.product {
  display: flex;
  justify-content: center;
  position: absolute;
  height: 600px;
}
#lavender {
  width: 100vw;
}
#honey {
  width: 88vw;
  z-index: 1;
}
#cardomom {
  width: 78vw;
  z-index: 2;
}
.product-image-container {
  display: flex;
  justify-content: center;
  /* background: cyan; */
  background: #fff3dd;
  padding-left: 1em;
}
.product-image-container img {
  height: 70vh;
  width: auto;
}
.product-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: "Raleway", sans-serif;
  font-size: 25px;
  /* background: green; */
}
.product-info p {
  text-align: left;
  padding-top: 8em;
  margin: 0;
}
.accordion-body {
  /* background: pink; */
  background: #fff3dd;
  display: flex;
  /* flex-direction: column; */
  justify-items: center;
}
.accordion-key {
  background: #fff3dd;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: auto;
  border-right: #914712 solid 8px;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
}
.accordion-key h1 {
  font-size: 40px;
  transform: rotate(90deg);
  transform-origin: center;
  margin: 0;
  padding: 0;
}
/* end of accordion */

/* animation begin */

#animation {
  margin: 0;
  text-align: center;
}

#cap {
  animation: cap 1s ease-in-out infinite;
}

@keyframes cap{
  from{
transform: rotateX(0deg)
  }
  to{
transform: rotateX(20deg);
  }
}
/* animation end */

.location {
  display: vertical;
  font-family: "Raleway", sans-serif;
  font-size: 21px;
}

.location img {
  padding-top: 5em;
  width: 100%;
  height: auto;
}

footer {
  display: column;
  align-items: flex-end;
  font-family: "Raleway", sans-serif;
  font-weight: medium;
  border-top: 5px #914712;
  padding: 5em;
  margin: 5em;
}

/* START of Mobile Menu */

.nav,
.desktop {
  display: block;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  z-index: 900;
}

.icon {
  position: fixed;
  cursor: pointer;
  top: 5%;
  right: 0%;
  width: 40px;
  height: 45px;
  transform: translate(-50%, -50%);
  display: block;
  z-index: 1000;
}

#logo {
  margin-left: 0%;
  padding-left: 0%;
}

.hamburger {
  width: 40px;
  height: 4px;
  line-height: 70px;
  background: #914712;
  border-radius: 5px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  transition: 0.5s;
}

.hamburger:before,
.hamburger:after {
  content: "";
  position: absolute;
  width: 40px;
  height: 4px;
  background: #914712;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  transition: 0.5s;
}

.hamburger:before {
  top: -10px;
}

.hamburger:after {
  top: 10px;
}

.icon.active .hamburger {
  background: rgba(0, 0, 0, 0);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0);
}

.icon.active .hamburger:before {
  top: 0;
  transform: rotate(45deg);
}

.icon.active .hamburger:after {
  top: 0;
  transform: rotate(135deg);
}

.menu-mobile {
  background-color: #ffe0aa;
  height: 50vh;
  position: fixed;
  width: 100%;
  z-index: 999;
  padding-top: 150px;
  font-family: "Raleway", sans-serif;
  font-weight: medium;
  font-size: 21px;
  text-align: center;
}

.menu-mobile,
.menu-mobile a {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.menu-mobile a {
  clear: right;
  text-decoration: none;
  color: #914712;
  height: 70px;
  line-height: 70px;
}

.menu-mobile a:hover {
  color: #f39f92;
}

.desktop,
.menu-desktop,
.menu-mobile {
  display: none;
}

/* END OF Mobile Menu */

.icon {
  display: block;
}

.accordion-key {
  display: none;
}
.accordion-key.active {
  display: inline-block;
}

/* Medium devices (landscape tablets, 768px and up) */

@media only screen and (min-width: 768px) {
  /* START of desktop menu for 768 media query */
  .menu-desktop {
    width: 100%;
    display: block;
    padding: 0;
    line-height: 50px;
    justify-content: space-evenly;
    flex-direction: row;
    height: 0;
    text-align: right;
    top: 0;
    right: 0;
  }
  .menu-desktop a {
    display: inline-flex;
    margin-right: 30px;
    height: 0;
    line-height: 50px;
    text-decoration: none;
    color: #914712;
    justify-content: space-evenly;
  }
  .menu-desktop a:hover {
    color: #f39f92;
  }
  .icon {
    display: none;
  }
  .desktop {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    display: block;
  }
  header.nav,
  .menu-mobile {
    display: none;
  }
  body {
    font-size: 14px;
    /* text-align: center; */
  }
  header {
    padding: 4em 0;
  }
  .landing {
    font-family: "Raleway", sans-serif;
    font-weight: medium;
    display: vertical;
    width: 100;
  }
  .landing img {
    width: 75%;
    height: auto;
  }
  .location img {
    width: 75%;
    height: auto;
  }
  #logo img {
    margin: 6px 0 10px 0;
    display: flex;
    width: 240px;
    height: auto;
  }
  /* body, #horizontalAccordion, #horizontalAccordion, li{
    padding: 0px;
    margin: 0px;
  } */

  footer nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  footer nav p {
    padding: 0 1em;
    margin: 0;
  }
  /* END of desktop menu for 768 media query */
}

/*padding! add some to images,
mobile first means code non media queries for mobile (some media queries too) then do media queries for larger ones*/

/* src: url('webfont.otf?#iefix') format('opentype') */
