
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;700&display=swap');


body {
    margin: 0;
    display: flex;
    flex-direction: column;
    background-color: #FFF3DD;
}

header {
  padding: 5em;
  border-bottom: 5px  #914712 solid;
  font-family: 'Raleway', sans-serif;
  font-weight: medium;
  margin-bottom: 5em;
}

nav div {
  width: 85%;
  margin: auto;
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
}

nav a {
  padding-right: 20px;
}
nav a:hover {
  color:#F39F92;
}
nav {
  color:  #914712;
  padding: 12px;
}

#logo{
  text-align:left;
}

#logo img {
  margin:6px 0 10px 0;
  width: 50%;
  height: auto;
}

.landing {
  font-family: 'Raleway', sans-serif;
  font-weight: medium;
  display: vertical;
  width: 100;
}

.landing img{
  width: 100%;
  height: auto;
}

.products {
  font-family: 'Raleway', sans-serif;
  font-weight: medium;
  font-size: 21px;
}

.products img{
  width: 100%;
  height: auto;
}

.button {
  padding: 8px;
  width: 25%;
  background-color: #914712;
  color:white;
  font-family: 'Raleway', sans-serif;
  font-weight: bolder;
  text-align: center;
  padding:10px 15px;
  border-radius: 12px;
  margin: auto;
}

#lavender-image {
  width: 50%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

#honey-image {
  width: 50%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

#cardomom-image {
  width: 50%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

#lavender {
  color: #AA93D7;
  text-align: center;
}

#honey {
  color: #EFBC4D;
  text-align: center;
}

#cardomom {
  color: #DD5A44;
  text-align: center;
}

h2 {
  font-size: 36px;
  color: #914712;
}

.product-info {
  text-align: left;
}

.location {
    display: vertical;
    font-family: 'Raleway', sans-serif;
    font-size: 21px;
}

.location img{
  width: 100%;
  height: auto;
}

footer {
    display: column;
    align-items: flex-end;
    font-family: 'Raleway', sans-serif;
    font-weight: medium;
    border-top: 5px #914712;
    padding: 5em;
    margin: 5em;
}

/* START of Mobile Menu */
.nav, .desktop {
  display: block;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  z-index: 900;
}

.icon {
  position: fixed;
  cursor: pointer;
  top: 5%;
  right: 0%;
  width: 40px;
  height: 45px;
  transform: translate(-50%, -50%);
  display: block;
  z-index: 1000;
}

#logo {
  margin-left: 0%;
  padding-left: 0%;
}

.hamburger {
  width: 40px;
  height: 4px;
  line-height: 70px;
  background: #914712;
  border-radius: 5px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  box-shadow: 0 2px 5px rgba(0,0,0,.2);
  transition: .5s;
}

.hamburger:before,
.hamburger:after {
  content: '';
  position: absolute;
  width: 40px;
  height: 4px;
  background: #914712;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0,0,0,.2);
  transition: .5s;
}

.hamburger:before {
  top: -10px;

}

.hamburger:after {
  top: 10px;
}

.icon.active .hamburger {
  background: rgba(0,0,0,0);
  box-shadow: 0 2px 5px rgba(0,0,0,0);
}

.icon.active .hamburger:before {
  top: 0;
  transform: rotate(45deg);
}

.icon.active .hamburger:after {
  top: 0;
  transform: rotate(135deg);
}

.menu-mobile {
  background-color: #FFE0AA;
  height: 50vh;
  position: fixed;
  width: 100%;
  z-index: 999;
  padding-top: 150px;
  font-family: 'Raleway', sans-serif;
  font-weight: medium;
  font-size: 21px;
  text-align: center;
}

.menu-mobile, .menu-mobile a {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.menu-mobile a {
  clear: right;
  text-decoration: none;
  color:  #914712;
  height: 70px;
  line-height: 70px;
}
.menu-mobile a:hover {
  color: #F39F92;
}

.desktop, .menu-desktop, .menu-mobile {
      display: none;
  }
/* END OF Mobile Menu */

.icon { display: block; }


/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  /* START of desktop menu for 768 media query */
  .menu-desktop {
      width: 100%;
      display: block;
      padding: 0;
      line-height: 50px;
      justify-content: space-evenly;
      flex-direction: row;
      height: 0;
      text-align: right;
      top: 0;
      right: 0;
  }

  .menu-desktop a {
      display: inline-flex;
      margin-right: 30px;
      height: 0;
      line-height: 50px;
      text-decoration: none;
      color: #914712;
      justify-content: space-evenly;
  }
  .menu-desktop a:hover {
      color:#F39F92;
  }


  .icon {
    display: none;
  }

  .desktop {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      display: block;
  }

  header.nav, .menu-mobile {
      display: none;
  }

  body {
    font-size: 14px;
    text-align: center;
  }
  header {
    padding: 4em;
  }

  .landing {
    font-family: 'Raleway', sans-serif;
    font-weight: medium;
    display: vertical;
    width: 100;
  }
  
  .landing img{
    width: 75%;
    height: auto;
  }

  .location img{
    width: 75%;
    height: auto;
  }

  #logo img {
    margin:6px 0 10px 0;
    display: flex;
    width: 240px;
    height: auto;
  }
  /* END of desktop menu for 768 media query */


  
}

/*padding! add some to images,
mobile first means code non media queries for mobile (some media queries too) then do media queries for larger ones*/



